$color_dark: #181818;
$color_gray: #808080;

$color_header_bg: teal;
$color_header_text: white;
$color_header_nav: darkorange;

$color_main_bg: white;
$color_main_text: $color_dark;

$color_footer_bg: $color_dark;
$color_footer_text: white;


$color_accent: #149dcc;
$color_accent_dark: #0f7699;
$color_acc_dark_transparent: rgba(15, 118, 153, 0.3);

/*
 * Colors only ...
 */

header {
  background-color: $color_header_bg;
  color: $color_header_text;

  button {
    color: $color_header_text;
    background-color: $color_header_nav;
  }
}


main {
  background-color: $color_main_bg;
  color: $color_main_text;
}

footer {
  background-color: $color_footer_bg;
  color: $color_footer_text;
}
