@import '../fonts/fonts';

@import 'layout';

@import 'colors';

/* margin + border + padding = 1em */
@mixin show_bars($leftOrRight) {
  margin-#{$leftOrRight}: 0.45em;
  border-#{$leftOrRight}: 0.1em solid $color_dark_text;
  padding-#{$leftOrRight}: 0.45em;
};
@mixin show_double_bars($leftOrRight) {
  margin-#{$leftOrRight}: 0.4em;
  border-#{$leftOrRight}: 0.2em double $color_dark_text;
  padding-#{$leftOrRight}: 0.4em;
};
@mixin hide_bars($leftOrRight) {
  margin-#{$leftOrRight}: 0em;
  border-#{$leftOrRight}: 0em;
  padding-#{$leftOrRight}: 1em;
};

.song {
  font-family: 'Annie Use Your Telescope', sans-serif;
  font-size: 1.2rem;

  .song-title {
     display: inline-block;
     margin-right: 2em;
  }
  .song-infos {
    display: inline-block;
    font-size: 1.5em;

    // margin-top: 0em;
  }

  .sequence-container {
    margin-bottom: 0.1em;
  
    h3, button {
      display: inline-block;
    }

    button {
      font-family: "Audiowide";
      padding: 0.4em;
      margin: 0 0.5em;
      border: none;
      border-radius: 0.2em;
      font-weight: bold;
    }
    .sequence {
      font-size: 1.5em;
  
      .lyrics {
        font-size: 0.7em;
      }
    }
  }
}

.sequence {
    display: grid;
  
    grid-template-columns: 1fr 1fr;
    padding: 0.5em 1em;
    column-gap: 1em;
    row-gap: 3em;

    &-short {
      row-gap: 1em;
    }

    .beats-container {

      position: relative;
      width: 100%;
      padding: 0 1em;
      left: -1em;

      // show bar at beginning of a measure 
      @include show_bars(left);

      height: 2em;
      line-height: 2em;
    }

    .measure-container:nth-child(2n) .beats-container {
      // show bars at end of line and sequence
      @include show_bars(right);
    }

    @media only screen and (min-width: $tablet_minWidth) {
        grid-template-columns: 1fr 1fr 1fr 1fr;

        .measure-container:nth-child(2n) .beats-container {
          @include hide_bars(right);
        }
        .measure-container:nth-child(4n) .beats-container {
          // show bars at end of line and sequence
          @include show_bars(right);
        }

        &.len5 {
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

          .measure-container:nth-child(4n) .beats-container {
            @include hide_bars(right);
          }
          .measure-container:nth-child(5n) .beats-container {
            // show bars at end of line and sequence
            @include show_bars(right);
          }
        }
    }
    .measure-container:last-child .beats-container {
      // show bars at end of line and sequence
      @include show_bars(right);
    }
    &, &.len5 {
      .measure-container.start-repeat .beats-container {
        @include show_double_bars(left);

        &::before {
          content: ":";
          position: absolute;
          left: 0em;
          top: 0em;
        }
      }
      .measure-container.stop-repeat .beats-container {
        @include show_double_bars(right);
        
        &::after {
          content: ":";
          position: absolute;
          right: 0em;
          top: 0em;
        }
      }

      .measure-container.empty .beats-container {
        @include hide_bars(left);
        @include hide_bars(right);
      }
    }

    .top-text {
      position: absolute;
      top: -0.8em;
      left: -0.2em;
      font-size: 1.5em;
      font-weight: bold;
    }
}


.beats {
  display: flex;

  .beat {
    flex-grow: 1;
  }
}


@media only print {
  .layout-container + .layout-container, .break {
     @include media_support(padding-top, header_distance);
     position: relative;
     page-break-before: always;
  }

  .song .sequence {
    page-break-inside: avoid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    font-size: 1rem;
    
    .measure-container:nth-child(2n) .beats-container {
      @include hide_bars(right);
    }
    .measure-container:nth-child(4n) .beats-container {
      // show bars at end of line and sequence
      @include show_bars(right);
    }

    &.len5 {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

      .measure-container:nth-child(4n) .beats-container {
        @include hide_bars(right);
      }
      .measure-container:nth-child(5n) .beats-container {
        // show bars at end of line and sequence
        @include show_bars(right);
      }
    }


    .measure-container:last-child .beats-container {
      // show bars at end of line and sequence
      @include show_bars(right);
    }
    .measure-container.start-repeat .beats-container {
      @include show_double_bars(left);

      &::before {
        content: ":";
        position: absolute;
        left: 0em;
      }
    }
    .measure-container.stop-repeat .beats-container {
      @include show_double_bars(right);
      
      &::after {
        content: ":";
        position: absolute;
        right: 0em;
      }
    }
  }
  .song .song-infos {
    font-size: 0.8em;
  }
}

textarea, input {
  width: 100%;
}