@import '../fonts/fonts';


@import 'layout';

@import 'colors';

.song {
  font-family: 'Annie Use Your Telescope', sans-serif;
  font-size: 1.2rem;

  .song-title {
     display: inline-block;
     margin-right: 2em;
  }
  .song-infos {
    display: inline-block;
    font-size: 1.5em;

    // margin-top: 0em;
  }

  .sequence-container h3 {
    margin-bottom: 0.1em;
  
    .sequence {
      font-size: 1.5em;
  
      .lyrics {
        font-size: 0.7em;
      }
  
      .refrain {
        font-weight: 900;
      }
    }
  
  }
}



// .sequence {
//     // padding: 0.2em 0em;

//     .infos {
//       font-size: 0.5em;
//     }

//     .lyrics {
//       font-size: 0.5em;
//     }
// }

@mixin show_bars($leftOrRight) {
    margin-#{$leftOrRight}: 0.45em;
    border-#{$leftOrRight}: 0.1em solid $color_dark;
    padding-#{$leftOrRight}: 0.45em;
};
@mixin show_double_bars($leftOrRight) {
  margin-#{$leftOrRight}: 0.4em;
  border-#{$leftOrRight}: 0.2em double $color_dark;
  padding-#{$leftOrRight}: 0.4em;
};
@mixin hide_bars($leftOrRight) {
  margin-#{$leftOrRight}: 0em;
  border-#{$leftOrRight}: 0em;
  padding-#{$leftOrRight}: 1em;
};


.sequence {
    display: grid;
  
    grid-template-columns: 1fr 1fr;
    padding: 0.5em 1em;
    column-gap: 1em;
    row-gap: 1em;


    .barsline {
      position: relative;
      width: 100%;
      padding: 0 1em;
      left: -1em;

      // show bar at beginning of a bar 
      @include show_bars(left);

      height: 2em;
      line-height: 2em;
    }

    .bar:nth-child(2n) .barsline {
      // show bars at end of line and sequence
      @include show_bars(right);
    }

    @media only screen and (min-width: $desktop_minWidth) {
        grid-template-columns: 1fr 1fr 1fr 1fr;

        .bar:nth-child(2n) .barsline {
          @include hide_bars(right);
        }
        .bar:nth-child(4n) .barsline {
          // show bars at end of line and sequence
          @include show_bars(right);
        }

        &.len5 {
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

          .bar:nth-child(4n) .barsline {
            @include hide_bars(right);
          }
          .bar:nth-child(5n) .barsline {
            // show bars at end of line and sequence
            @include show_bars(right);
          }
        }
    }
    .bar:last-child .barsline {
      // show bars at end of line and sequence
      @include show_bars(right);
    }
    &, &.len5 {
      .bar.start-repeat .barsline {
        @include show_double_bars(left);

        &::before {
          content: ":";
          position: absolute;
          left: 0em;
          top: 0em;
        }
      }
      .bar.stop-repeat .barsline {
        @include show_double_bars(right);
        
        &::after {
          content: ":";
          position: absolute;
          right: 0em;
          top: 0em;
        }
      }

      .bar.empty .barsline {
        @include hide_bars(left);
        @include hide_bars(right);
      }
    }
}


.chords {
  display: flex;

  .chord {
    flex-grow: 1;
  }
}


@media only print {
  .layout-container + .layout-container, .break {
     @include media_support(padding-top, header_distance);
     position: relative;
     page-break-before: always;
  }

  .song .sequence {
    page-break-inside: avoid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    font-size: 1rem;
    
    .bar:nth-child(2n) .barsline {
      @include hide_bars(right);
    }
    .bar:nth-child(4n) .barsline {
      // show bars at end of line and sequence
      @include show_bars(right);
    }

    &.len5 {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

      .bar:nth-child(4n) .barsline {
        @include hide_bars(right);
      }
      .bar:nth-child(5n) .barsline {
        // show bars at end of line and sequence
        @include show_bars(right);
      }
    }


    .bar:last-child .barsline {
      // show bars at end of line and sequence
      @include show_bars(right);
    }
    .bar.start-repeat .barsline {
      @include show_double_bars(left);

      &::before {
        content: ":";
        position: absolute;
        left: 0em;
      }
    }
    .bar.stop-repeat .barsline {
      @include show_double_bars(right);
      
      &::after {
        content: ":";
        position: absolute;
        right: 0em;
      }
    }
  }
  .song .song-infos {
    font-size: 0.8em;
  }
}

.rhythm-container {
  .rhythm {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .beat {
      display: grid;

      grid-template-columns: 1fr 1fr 1fr 1fr;

      
      .subdivision {
        border-left: 0.1em solid $color_dark;
        
        &.pause {
          border-left: none;
        }
      }
    }
  }
}

textarea, input {
  width: 100%;
}